  
  .systemmaster-h1{
    display: block;
    background-color: #eaeeea;
  
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #2134ad;
    text-align: center;
  }
  
  .systemmaster-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #090909;

  }
  

  .systemmaster-th,
  .systemmaster-td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #0c0c0c;
  }
  
  .systemmaster-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    block-size: 120%;
  }
  
  .systemmaster-tr:hover {
    background-color: #ddd;
  }
  
  .systemmaster-input[type="text"],

    
  .systemmaster-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  
  .systemmaster-button {
    border: 1px solid #0b0b0b;

      width: 50%;
      height: 20px;
      background-color:#f3f4f6;
      color: rgb(12, 12, 12);
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
  }
  
  .systemmaster-table button:hover {
    background-color: #acb5ee;
  
  }
  
  .systemmaster-table button:active {
    background-color: #e7e7e7;
    color: #000;
  }
