.admin {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.admin-sidebar {
  flex: 0 0 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.admin-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

.admin-sidebar li div {
  display: block;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.admin-sidebar li div:hover {
  background-color: #eee;
}

.admin-sidebar li.active div {
  background-color: #0077cc;
  color: #fff;
}

.admin-main {
  flex: 1;
  padding: 20px;
}
.admin-sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #eee;
  transition: left 0.2s ease-in-out;
  z-index: 1;
}

.admin-sidebar.visible {
  left: 0;
}

.admin-sidebar:active {
  cursor: grab;
}

/* .admin-sidebar:active ul {
  pointer-events: none;
} */

.admin-sidebar:active:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: grabbing;
}

.admin-sidebar:active.visible:after {
  display: none;
}

.admin-main {
  margin-left: 250px;
}
.admin-sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #eee;
  transition: left 0.2s ease-in-out;
  z-index: 1;
}

.admin-sidebar.visible {
  left: 0;
}

.admin-sidebar.dragging {
  pointer-events: none;
}

.admin-sidebar-toggle {
  position: absolute;
  top: 47vh;
  right: -40px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.admin-sidebar-toggle:hover {
  background-color: #ccc;
}

.admin-main {
  margin-left: 250px;
}